<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
    <script type="text/javascript">
        function confirm_click() {
            return confirm("Are you sure ?\nThis action is definitive.");
        }

    </script>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
    </style>
</head>
<body>
<h1> FG Warband Manager </h1>
<input id="return" type="button" value="Home" onclick="window.location.href='/'"/>
<h1>All Warbands</h1>
<table>
    {% for band in bands %}
        <tr>
            <td><a href="/edit/{{ band }}">{{ band }}</a></td>
            <td><a title="Delete" onclick="return confirm_click();" href="/delete/{{ band }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>

