<!DOCTYPE html>
<html>
<head>
    <title>Ship Crew Editor</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
    </style>
    <script type="text/javascript">
        var total = 500;
        var engHire = false;

        function hireEng() {
            if (engHire == false) {
                engHire = true;
                document.getElementById("ensignDiv").style.display = "block";
                total = total - 250;
                updateCost();
            }
            else {
                engHire = false;
                document.getElementById("ensignDiv").style.display = "none";
                total = total + 250;
                updateCost();
            }
        }

        function updateTableRow(row, x) {
            var sel = x.value;

            var rosterTable = document.getElementById('rosterTable');

            if (sel == "Empty") {
                rosterTable.rows[row].cells[1].innerHTML = '-';
                rosterTable.rows[row].cells[2].innerHTML = '-';
                rosterTable.rows[row].cells[3].innerHTML = '-';
                rosterTable.rows[row].cells[4].innerHTML = '-';
                rosterTable.rows[row].cells[5].innerHTML = '-';
                rosterTable.rows[row].cells[6].innerHTML = '-';
                rosterTable.rows[row].cells[7].innerHTML = 0;
                rosterTable.rows[row].cells[8].innerHTML = '-';
            }
            {% for troop in people.keys() %}
                if (sel == "{{troop}}") {
                    rosterTable.rows[row].cells[1].innerHTML = '{{ people[troop]['Move'] }}';
                    rosterTable.rows[row].cells[2].innerHTML = '{{ people[troop]['Fight'] }}';
                    rosterTable.rows[row].cells[3].innerHTML = '{{ people[troop]['Shoot'] }}';
                    rosterTable.rows[row].cells[4].innerHTML = '{{ people[troop]['Shield'] }}';
                    rosterTable.rows[row].cells[5].innerHTML = '{{ people[troop]['Morale'] }}';
                    rosterTable.rows[row].cells[6].innerHTML = '{{ people[troop]['Health'] }}';
                    rosterTable.rows[row].cells[7].innerHTML = {{ people[troop]['Cost'] }};
                    rosterTable.rows[row].cells[8].innerHTML = '{{ people[troop]['Notes'] }}';

                }
            {% endfor %}
            updateCost();
        }
        function updateCost() {
            var sum = 0;
            var rosterTable = document.getElementById('rosterTable');

            for (i = 1; i <= 8; i++) {
                sum += parseInt(rosterTable.rows[i].cells[7].innerHTML);
            }

            remainingGold.innerHTML = total - sum;
        }

        function setCapSkillchoice(x) {
            setAttributeSkills(x, "captainTable", "skillchoice");
        }

        function setEnsSkillchoice(x) {
            setAttributeSkills(x, "ensignTable", "skillchoiceens");
        }

        function setAttributeSkills(x, name, name_id) {
            var choice = x.value;
            var capORensTable = document.getElementById(name.toString());
            var list = capORensTable.rows[1].cells[8];
            while (list.hasChildNodes()) {
                list.removeChild(list.firstChild);
            }
            if (choice == "Empty") {
                list.appendChild(document.createTextNode("No Skills"));
            } else {
                {% for spec in skills.keys() %}
                    if (choice == "{{spec}}") {
                        var div = document.createElement("div");
                        {% for element in skills[spec] %}
                            var tempbutton = document.createElement("input");
                            tempbutton.setAttribute("type", "radio");
                            tempbutton.setAttribute("id", name_id.toString());
                            tempbutton.setAttribute("name", name_id.toString());
                            tempbutton.setAttribute("value", "{{element}}");
                            var templabel = document.createElement("label");
                            templabel.appendChild(document.createTextNode("{{element}}"));
                            div.appendChild(tempbutton);
                            div.appendChild(templabel);
                        {% endfor %}
                        list.appendChild(div);


                    }
                {% endfor %}
            }
        }

        function setAttribute(form, name, name_text, isEngHire) {
            var element = document.createElement("input");
            element.setAttribute("type", "hidden");
            element.setAttribute("name", name.toString());
            if (isEngHire)    element.setAttribute("value", name_text);
            else    element.setAttribute("value", document.getElementById(name_text.toString()).value);
            form.appendChild(element)
        }

        function setAttributeJSON(form, name, isTroops) {
            var elements = [];
            if (isTroops) {
                for (i = 1; i < 10; i++) {
                    var selector = document.getElementById("troops" + i);
                    elements.push(selector.value);
                }

            } else {
                var elementarr = document.getElementsByName(name.toString());

                for (var k = 0; k < elementarr.length; k++)
                    if (elementarr[k].checked)  elements.push(elementarr[k].value);
            }

            var element = document.createElement("input");
            element.setAttribute("type", "hidden");
            element.setAttribute("name", name.toString());
            element.setAttribute("value", JSON.stringify(elements));
            form.appendChild(element);

        }

        function doFormSubmit() {
            method = "post"; // Set method to post by default if not specified.

            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", "/new");

            setAttribute(form, "bandname", "bandnametext", false);
            setAttribute(form, "capspec", "capspecsel", false);
            setAttribute(form, "capskill", "skillchoice", false);
            setAttribute(form, "capweap", "capweapsel", false);

            if (engHire) {

                setAttribute(form, "hasensign", engHire, true);
                setAttribute(form, "ensspec", "ensspecsel", false);
                setAttribute(form, "ensskill", "skillchoiceens", false);
                setAttribute(form, "ensweap", "ensweapsel", false);
            }

            setAttributeJSON(form, "troops", true);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>
<h1> FG Warband Manager </h1>
<input id="return" type="button" value="Home" onclick="window.location.href='/'"/>
<h1>Your Warband</h1>
<h2>Warband Name:<input type="text" id="bandnametext" name="bandnametext"></h2>

<table border="0">
    <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>500</td>
    </tr>
</table>
<table id="captainTable">
    <tr>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
    </tr>
    <tr>

        <td>{{ captain['Captain']['Move'] }}</td>
        <td>{{ captain['Captain']['Fight'] }}</td>
        <td>{{ captain['Captain']['Shoot'] }}</td>
        <td>{{ captain['Captain']['Shield'] }}</td>
        <td>{{ captain['Captain']['Morale'] }}</td>
        <td>{{ captain['Captain']['Health'] }}</td>

        <td><select id="capspecsel" onchange="setCapSkillchoice(this)">
            <option value="Empty">Select...</option>
            {% for spec in specs %}

                <option value="{{ spec }}">{{ spec }}</option>
            {% endfor %}
        </select></td>
        <td>
            <select id="capweapsel">
                <option value="Empty">Select...</option>
                {% for weap in weaps %}

                    <option value="{{ weap }}">{{ weap }}</option>
                {% endfor %}
            </select>
        </td>
        <td></td>
    </tr>

</table>
Hire ensign? <input type="checkbox" name="appHire" onClick="hireEng()">250gc<br>
<div id="ensignDiv" style='display: none'>
    <table id="ensignTable">
        <tr>
            <td>Move</td>
            <td>Fight</td>
            <td>Shoot</td>
            <td>Shield</td>
            <td>Morale</td>
            <td>Health</td>
            <td>Specialism</td>
            <td>Weapons and Equipment</td>
            <td>Skills</td>
        </tr>
        <tr>
            <td>{{ ensign['Ensign']['Move'] }}</td>
            <td>{{ ensign['Ensign']['Fight'] }}</td>
            <td>{{ ensign['Ensign']['Shoot'] }}</td>
            <td>{{ ensign['Ensign']['Shield'] }}</td>
            <td>{{ ensign['Ensign']['Morale'] }}</td>
            <td>{{ ensign['Ensign']['Health'] }}</td>
            <td>
                <select id="ensspecsel" onchange="setEnsSkillchoice(this)">
                    <option value="Empty">Select...</option>
                    {% for spec in specs %}

                        <option value="{{ spec }}">{{ spec }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="ensweapsel">
                    <option value="Empty">Select...</option>
                    {% for weap in weaps %}

                        <option value="{{ weap }}">{{ weap }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
        </tr>

    </table>
</div>
<table id='rosterTable'>
    <tr>
        <td>Class</td>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Cost</td>
        <td>Notes</td>
    </tr>
    {% for i in range(1,10) %}
        <tr>
            <td>
                <select id="troops{{ i }}" onchange="updateTableRow({{ i }}, this)">
                    <option value="Empty">Empty</option>
                    {% for troop in people.keys() %}
                        <option value="{{ troop }}">{{ troop }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>0</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
<input id="creator" type="button" value="Create Warband" onclick="doFormSubmit();"/>
<input id="clear" type="button" value="Reset" onclick="window.location.href='/new'"/>
</body>
</html>

