<!DOCTYPE html>
<html>
<head>
    <title>Ship Crew Editor</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
    </style>
    <script type="text/javascript">
        var total = {{ band['Treasury'] }};
        {% if 'Ensign' in band.keys()  %}
            var engHire = true;
            var hadEnsign = true;
        {%else%}
            var engHire = false;
            var hadEnsign = false;
        {% endif %}
        function hireEng() {
            if (engHire == false) {
                engHire = true;
                document.getElementById("ensignDiv").style.display = "block";
                total = total - 250;
                updateCost();
            }
            else {
                engHire = false;
                document.getElementById("ensignDiv").style.display = "none";
                total = total + 250;
                updateCost();
            }
        }

        function updateTableRow(row, x) {
            var sel = x.value;

            var myTable = document.getElementById('rosterTable');

            if (sel == "Empty") {
                myTable.rows[row].cells[1].innerHTML = '-';
                myTable.rows[row].cells[2].innerHTML = '-';
                myTable.rows[row].cells[3].innerHTML = '-';
                myTable.rows[row].cells[4].innerHTML = '-';
                myTable.rows[row].cells[5].innerHTML = '-';
                myTable.rows[row].cells[6].innerHTML = '-';
                myTable.rows[row].cells[7].innerHTML = 0;
                myTable.rows[row].cells[8].innerHTML = '-';
            }
            {% for troop in people.keys() %}
                if (sel == "{{troop}}") {
                    myTable.rows[row].cells[1].innerHTML = '{{ people[troop]['Move'] }}';
                    myTable.rows[row].cells[2].innerHTML = '{{ people[troop]['Fight'] }}';
                    myTable.rows[row].cells[3].innerHTML = '{{ people[troop]['Shoot'] }}';
                    myTable.rows[row].cells[4].innerHTML = '{{ people[troop]['Shield'] }}';
                    myTable.rows[row].cells[5].innerHTML = '{{ people[troop]['Morale'] }}';
                    myTable.rows[row].cells[6].innerHTML = '{{ people[troop]['Health'] }}';
                    myTable.rows[row].cells[7].innerHTML = {{ people[troop]['Cost'] }};
                    myTable.rows[row].cells[8].innerHTML = '{{ people[troop]['Notes'] }}';

                }
            {% endfor %}
            updateCost();
        }
        function updateCost() {
            var sum = 0;
            var myTable = document.getElementById('rosterTable');

            for (var i = 1; i <= 8; i++) {
                sum = sum + parseInt(myTable.rows[i].cells[7].innerHTML);
            }

            remainingGold.innerHTML = total - sum;
        }

        function setCapSkillchoice(x) {
            setAttributeSkills(x, "captainTable", "skillchoice");
        }

        function setEnsSkillchoice(x) {
            setAttributeSkills(x, "ensignTable", "skillchoiceens");
        }

        function setAttributeSkills(x, name, name_id) {
            var choice = x.value;
            var myTable = document.getElementById(name.toString());
            var list = myTable.rows[1].cells[8];
            while (list.hasChildNodes()) {
                list.removeChild(list.firstChild);
            }
            if (choice == "Empty") {
                list.appendChild(document.createTextNode("No Skills"));
            }
            {% for spec in skills.keys() %}
                if (choice == "{{spec}}") {
                    var div = document.createElement("div");
                    {% for element in skills[spec] %}
                        var tempbutton = document.createElement("input");
                        tempbutton.setAttribute("type", "radio");
                        tempbutton.setAttribute("id", name_id.toString());
                        tempbutton.setAttribute("name", name_id.toString());
                        tempbutton.setAttribute("value", "{{element}}");
                        var templabel = document.createElement("label");
                        templabel.appendChild(document.createTextNode("{{element}}"));
                        div.appendChild(tempbutton);
                        div.appendChild(templabel);
                    {% endfor %}
                    list.appendChild(div);


                }
            {% endfor %}
        }

        function setAttribute(form, name, name_text, isEngHire) {
            var element = document.createElement("input");
            element.setAttribute("type", "hidden");
            element.setAttribute("name", name.toString());
            if (isEngHire)    element.setAttribute("value", name_text);
            else    element.setAttribute("value", document.getElementById(name_text.toString()).value);
            form.appendChild(element)
        }

        function setAttributeJSON(form, name, isTroops) {
            var elements = [];
            if (isTroops) {
                for (i = 1; i < 10; i++) {
                    var selector = document.getElementById(name.toString() + i);
                    elements.push(selector.value);
                }

            } else {
                var elementarr = document.getElementsByName(name.toString());

                for (var k = 0; k < elementarr.length; k++)
                    if (elementarr[k].checked)  elements.push(elementarr[k].value);
            }

            var element = document.createElement("input");
            element.setAttribute("type", "hidden");
            element.setAttribute("name", name.toString());
            element.setAttribute("value", JSON.stringify(elements));
            form.appendChild(element);

        }

        function doFormSubmit() {
            var method = "post"; // Set method to post by default if not specified.

            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", "/edit/{{ band['Name'] }}");

            setAttribute(form, "bandname", "bandnametext", false);
            setAttribute(form, "capspec", "capspecsel", false);
            setAttribute(form, "capmove", "capmov", false);
            setAttribute(form, "capfight", "capfig", false);
            setAttribute(form, "capshoot", "capsho", false);
            setAttribute(form, "capshield", "capshi", false);
            setAttribute(form, "capmorale", "capmor", false);
            setAttribute(form, "caphealth", "caphea", false);
            setAttribute(form, "capexperience", "capexp", false);
            setAttributeJSON(form, "capskill", false);
            setAttribute(form, "capweap", "capweapsel", false);

            if (engHire) {

                setAttribute(form, "hasensign", engHire, true);
                setAttribute(form, "ensspec", "ensspecsel", false);
                setAttribute(form, "ensmove", "enmov", false);
                setAttribute(form, "ensfight", "enfig", false);
                setAttribute(form, "ensshoot", "ensho", false);
                setAttribute(form, "ensshield", "enshi", false);
                setAttribute(form, "ensmorale", "enmor", false);
                setAttribute(form, "enshealth", "enhea", false);
                setAttribute(form, "ensexperience", "enexp", false);
                setAttributeJSON(form, "ensskill", false);
                setAttribute(form, "ensweap", "ensweapsel", false);
            }
            setAttributeJSON(form, "troops", true);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>

<h1> FG Warband Manager </h1>
<input id="return" type="button" value="Home" onclick="window.location.href='/'" />
<h1>Your Warband</h1>
<h2>Warband Name:<input type="text" id="bandnametext" name="bandnametext" value="{{ band['Name'] }}" disabled></h2>

<table border="0">
    <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>{{ band['Treasury'] }}</td>
    </tr>
</table>
<table id="captainTable">
    <tr>
        <td>Move</td>
        <td>Fight (max 10)</td>
        <td>Shoot (max 10)</td>
        <td>Shield</td>
        <td>Morale (max 12)</td>
        <td>Health (max 20)</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
        <td>Experience</td>
    </tr>
    <tr>

        <td><input id="capmov" type="number" value="{{ band['Captain']['Move'] }}" disabled></td>
        <td><input id="capfig" type="number" value="{{ band['Captain']['Fight'] }}"></td>
        <td><input id="capsho" type="number" value="{{ band['Captain']['Shoot'] }}"></td>
        <td><input id="capshi" type="number" value="{{ band['Captain']['Shield'] }}" disabled></td>
        <td><input id="capmor" type="number" value="{{ band['Captain']['Morale'] }}"></td>
        <td><input id="caphea" type="number" value="{{ band['Captain']['Health'] }}"></td>

        <td><select id="capspecsel" onchange="setCapSkillchoice(this)" disabled>
            <option value="Empty">Select...</option>
            {% for spec in specs %}
                {% if spec == band['Captain']['Specialism'] %}
                    <option value="{{ spec }}" selected>{{ spec }}</option>
                {% else %}
                    <option value="{{ spec }}">{{ spec }}</option>
                {% endif %}
            {% endfor %}
        </select></td>
        <td>
            <select id="capweapsel">
                <option value="Empty">Select...</option>
                {% for weap in weaps %}
                    {% if weap in band['Captain']['Items'] %}
                        <option value="{{ weap }}" selected>{{ weap }}</option>

                    {% else %}

                        <option value="{{ weap }}">{{ weap }}</option>
                    {% endif %}
                {% endfor %}
            </select></td>
        <td>
            {% for opt in skills[band['Captain']['Specialism']] %}
                {% if opt in band['Captain']['Skillset'] %}
                    <input type="checkbox" name="capskill" value="{{ opt }}" checked>{{ opt }}
                {% else %}
                    <input type="checkbox" name="capskill" value="{{ opt }}">{{ opt }}
                {% endif %}
            {% endfor %}
        </td>
        <td><input id="capexp" type="number" value="{{ band['Captain']['Experience'] }}"/></td>
    </tr>

</table>
Hire ensign? <input type="checkbox" name="appHire" onClick="hireEng()" {% if 'Ensign' in band.keys() %}
                    checked {% endif %}>250gc<br>
{% if 'Ensign' in band.keys() %}
    <div id="ensignDiv" style='display: block'>

{% else %}
    <div id="ensignDiv" style='display: none'>
{% endif %}
<table id="ensignTable">
    <tr>
        <td>Move</td>
        <td>Fight (max 6)</td>
        <td>Shoot (max 5)</td>
        <td>Shield</td>
        <td>Morale (max 6)</td>
        <td>Health (max 16)</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
        <td>Experience</td>

    </tr>
    {% if 'Ensign' in band.keys() %}
        <tr>

            <td><input id="enmov" type="number" value="{{ band['Ensign']['Move'] }}" disabled></td>
            <td><input id="enfig" type="number" value="{{ band['Ensign']['Fight'] }}"></td>
            <td><input id="ensho" type="number" value="{{ band['Ensign']['Shoot'] }}"></td>
            <td><input id="enshi" type="number" value="{{ band['Ensign']['Shield'] }}" disabled></td>
            <td><input id="enmor" type="number" value="{{ band['Ensign']['Morale'] }}"></td>
            <td><input id="enhea" type="number" value="{{ band['Ensign']['Health'] }}"></td>
            <td>
                <select id="ensspecsel" onchange="setEnsSkillchoice(this)" disabled>
                    <option value="Empty">Select...</option>
                    {% for spec in specs %}

                        {% if spec == band['Ensign']['Specialism'] %}
                            <option value="{{ spec }}" selected>{{ spec }}</option>
                        {% else %}
                            <option value="{{ spec }}">{{ spec }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="ensweapsel">
                    <option value="Empty">Select...</option>
                    {% for weap in weaps %}
                        {% if weap in band['Ensign']['Items'] %}
                            <option value="{{ weap }}" selected>{{ weap }}</option>

                        {% else %}

                            <option value="{{ weap }}">{{ weap }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                {% for opt in skills[band['Ensign']['Specialism']] %}
                    {% if opt in band['Ensign']['Skillset'] %}
                        <input type="checkbox" name="ensskill" value="{{ opt }}" checked>{{ opt }}
                    {% else %}
                        <input type="checkbox" name="ensskill" value="{{ opt }}">{{ opt }}
                    {% endif %}
                {% endfor %}
            </td>
            <td><input id="enexp" type="number" value="{{ band['Ensign']['Experience'] }}"/></td>

        </tr>
    {% else %}
        <tr>
            <td><input id="enmov" type="number" value="{{ ensign['Ensign']['Move'] }}" disabled></td>
            <td><input id="enfig" type="number" value="{{ ensign['Ensign']['Fight'] }}" disabled></td>
            <td><input id="ensho" type="number" value="{{ ensign['Ensign']['Shoot'] }}" disabled></td>
            <td><input id="enshi" type="number" value="{{ ensign['Ensign']['Shield'] }}" disabled></td>
            <td><input id="enmor" type="number" value="{{ ensign['Ensign']['Morale'] }}" disabled></td>
            <td><input id="enhea" type="number" value="{{ ensign['Ensign']['Health'] }}" disabled></td>
            <td>
                <select id="ensspecsel" onchange="setEnsSkillchoice(this)">
                    <option value="Empty">Select...</option>
                    {% for spec in specs %}

                        {% if spec == ensign['Ensign']['Specialism'] %}
                            <option value="{{ spec }}" selected>{{ spec }}</option>
                        {% else %}
                            <option value="{{ spec }}">{{ spec }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="ensweapsel">
                    <option value="Empty">Select...</option>
                    {% for weap in weaps %}

                        <option value="{{ weap }}">{{ weap }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td><input id="enexp" type="number" value="{{ ensign['Ensign']['Experience'] }}" disabled/></td>

        </tr>

    {% endif %}
</table>
</div>
<table id='rosterTable'>
    <tr>
        <td>Class</td>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Cost</td>
        <td>Notes</td>
    </tr>

    {% set p = 1 %}
    {% for trooper in band['Troops'] %}
        <tr>
            <td>
                <select id="troops{{ loop.index  }}" onchange="updateTableRow({{ loop.index  }}, this)">
                    <option value="Empty">Empty</option>
                    {% for troop in people.keys() %}
                        {% if troop == trooper %}
                            <option value="{{ troop }}" selected>{{ troop }}</option>
                        {% else %}
                            <option value="{{ troop }}">{{ troop }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>{{ people[trooper]['Move'] }}</td>
            <td>{{ people[trooper]['Fight'] }}</td>
            <td>{{ people[trooper]['Shoot'] }}</td>
            <td>{{ people[trooper]['Shield'] }}</td>
            <td>{{ people[trooper]['Morale'] }}</td>
            <td>{{ people[trooper]['Health'] }}</td>
            <td>{{ people[trooper]['Cost'] }}</td>
            <td>{{ people[trooper]['Notes'] }}</td>
        </tr>
                    {% set p = p + 1 %}
    {% endfor %}
    {% for i in range((band['Troops']|length) + 1,10) %}
        <tr>
            <td>
                <select id="troops{{ i }}" onchange="updateTableRow({{ i }}, this)">
                    <option value="Empty">Empty</option>
                    {% for troop in people.keys() %}
                        <option value="{{ troop }}">{{ troop }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>0</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
<input id="creator" type="button" value="Create Warband" onclick="doFormSubmit();"/>
<input id="clear" type="button" value="Reset" onclick="window.location.href='/new'"/>
</body>
</html>

